* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  padding: 1rem 5%;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  background-color: #fff;
}

.header img{
  height: 6vh;
  width: auto;
}

.hamburger {
  cursor: pointer;
  padding: 0.15rem;
}

a{
    text-decoration: none;
    color: white;
}

#logo{
    color: #1b1b1b;
}

.cart-and-stuff{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#cart{
    color: #1b1b1b;
    font-size: 16pt;
    margin-right: 0.5rem;
    padding: 0.15rem;
}

.bar {
  background-color: #1b1b1b;
  width: 28px;
  height: 3px;
  margin: 5px;
}

.mini-menu {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #6c80b3;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}

.mini-menu ul {
  color: white;
  list-style: none;
  text-align: center;
}

.mini-menu ul li {
  line-height: 150%;
  font-size: 24pt;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 2;
}

.self-aligner-hamburger {
  position: absolute;
  top: 1.3rem;
  left: 8%;
}

.top-x {
  transform: rotate(45deg) translateX(10px);
  transform-origin: 30%;
  background-color: #ebebeb;
}

.bottom-x {
  transform: rotate(-45deg) translateY(10px);
  transform-origin: 22%;
  background-color: #ebebeb;
}

#self-aligner-login {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 1.3rem;
  font-size: 12pt;
  text-align: center;
}
#homepage{
  margin-right: 0.5rem;
  padding: 0.15rem;
  font-size: 10pt;
  color: #1b1b1b;
}

#signInBtn{
  width: 7rem;
  background-color: rgba(255, 255, 255, 0);
  border: 1px black solid;
  border-radius: 1rem;
  cursor: pointer;
  color: #1b1b1b;
  margin: 0 0.5rem 0 0;
  padding: 0.25rem;
}

h3{
  font-size: 14pt;
}

ul li > a{
  transition: 0.2s ease-in-out ;
}

ul li > #link:hover{
  border-bottom: #fff solid 0.1rem;
  font-size: 30pt;
  padding: 0 1rem;
}

#self-aligner-login:hover{
  font-size: 14pt;
}

@media only screen and (min-width: 768px){
  .header{
    width: 86vw;
    margin: auto;
  }

  .self-aligner-hamburger{
    left: 25%;
  }
}

@media only screen and (min-width: 1300px){
  .header{
    width: 71vw;
    margin: auto;
  }

  .self-aligner-hamburger{
    left: 25%;
  }
}