*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1b1b1b;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  margin: auto;
}

.content {
  height: max-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.content img {
  width: 90vw;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 0 0 1rem 1rem;
}

.signUpBtn{
  margin: 0;
  padding: 0;
  padding: 0.5rem;
  width: 50%;
  height: auto;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 1rem;
  border: 1px black solid;
  transition: 0.3s ease-in-out;
  margin-bottom: 3rem;
  font-size: 12pt;
}

.signUpBtn:hover{
  cursor: pointer;
  background-color: #1b1b1b;
  color: #ebebeb;
}

.content p{
  line-height: 150%;
  font-size: 12pt;
}
.content h1{
  margin-bottom: 1rem;
}

.newOne{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff00;
  backdrop-filter: blur(8px);
}

.flicker{
  display: block;
}

.theX{
  cursor: pointer;
  padding: 1rem;
  font-size: 16pt;
  color: white;
}

.popUp{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5rem;
  border-radius: 2rem;
  background-color: #1b1b1b;
}

.popUp h3{
  color: white;
  font-size: 12pt;
  font-weight: 400;
}

.popUp p{
  color: white;
}