*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.eachProduct{
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.25rem;
}

.eachProduct img{
    width: 50%;
    height: auto;
}
